.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 18px;
  color: #fff;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.toast-success {
  background-color: #16a34a;
}
.toast-update {
  background-color: #9a9422;
}
.toast-delete {
  background-color: #f00b0b;
}
.toast-error {
  background-color: #dc2626;
}
